.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

table {
  width: 100%;
  text-align: center;
}

.choice {
    color: blue;
    text-decoration: underline;
}

.description {
  text-align: left;
  margin: 40px;
}
